.triallohandle{
  .details-1{
    border-bottom: 1px solid #d1d1d1;
    height: 60px;
    line-height: 60px;
    li{
        span{
          font-size: 18px;
          color: #666;
        }
        .login-submit{
            margin-top: 13px;
            margin-right: 40px;
            float: right;
            height: 32px;
            line-height: 32px;
            background: #7eb2b3;
            text-decoration: none;
            font-size: 16px;
            color: #fff;
            text-align: center;
            display: block;
            width: 128px;
            border-radius: 4px;
            letter-spacing: 2px;
        }
        .login-submit:active{
            color: #fff;
            background: #07bob2;
            outline: 0;
            -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
            box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
        }
    }
    
  }
  .screen-list{
    text-align: center;
    overflow: hidden;
    width: 100%;
  }
  .details-2{
    display: block;
    width: 100%;
    margin-top: 250px;
    overflow: hidden;
    li{
      display: block;
      color: #666;
      line-height: 36px;
      font-size: 16px;
      span{
        padding-right: 8px;
      }
      .login-submit{
        height: 40px;
        line-height: 40px;
        background: #09CACD;
        text-decoration: none;
        font-size: 16px;
        color: #fff;
        text-align: center;
        display: block;
        width: 320px;
        border-radius: 4px;
        letter-spacing: 2px;
        margin-top: 30px !important;
        margin:auto;
      }
      .login-submit:active{
        color: #fff;
        background: #07bob2;
        outline: 0;
        -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
      }
    }
  }
}

.ngdialog-Triallohandle{
    .ngdialog-content{
        .ngdialog-buttons{
            text-align: center;
            text-align: -webkit-center;
            .ngdialog-button {
                float: none;
                height: 40px;
                background: #09CACD;
                text-decoration: none;
                font-size: 16px;
                color: #fff;
                text-align: center;
                display: block;
                width: 200px;
                border-radius: 4px;
                letter-spacing: 2px;
                margin-top: 30px;
            }
            .ngdialog-button:active{
                color: #fff;
                background: #07bob2;
                outline: 0;
                -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
                box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
              }
        }
        .ngdialog-message{
            p{
                text-align: center;
                text-align: -webkit-center;
            }
        }
    }
    
}
