
<style>
	.main{
    	margin-top: 0 !important;
	}
</style>
<div class="prescribe"  ng-init="getPDetail()">
	
	
	<script type="text/ng-template" id="inputPWDDialogId">
		<div ng-if="PWDandPro">
	        <div class="ngdialog-message">
	            <p >输入签名密码</p>
	
	        </div>
	        <div class="ngdialog-buttons">
	        	<input style="display:none" autocomplete="off" name="name">
	            <input type="password" maxlength="6" class="form-control password" id="mypassword" ng-change="inputChange()" onkeyup="this.value=this.value.replace(/[^\d]/ig,'')"  ng-model="form.inputpassword"  placeholder="输入密码" autocomplete="off" >
	            <p ng-if="inputPwdShow">签名密码错误，请重新输入。</p> 
	        </div>
        </div>
        <div ng-if="!PWDandPro">
	        <div class="ngdialog-message">
	            <p >{{submitProText}}</p>
	
	        </div>
	        <div class="ngdialog-buttons">
	            <a class="login-submit close-this-dialog" href="javascript:;"  ng-click="closeThisDialog()" ng-if="isSubmit">确认</a>
	        </div>
        </div>
    </script>
    <script type="text/ng-template" id="timeoutPrompt">
        <div class="ngdialog-message">
            <p >审单时间已超时，即将返回开始审单页面。</p>
        </div>
    </script>
    
    <script type="text/ng-template" id="firstDialogId">
        <div class="ngdialog-message">
            <p >您有新的待审核处方，请点击下方按钮开始审核。</p>

        </div>
        <div class="ngdialog-buttons">
            <button type="button" class="ngdialog-button " style="display: inline;" ng-click="confirm()">开始审核</button>
        </div>
    </script>
    
    <div class="head">
		<div class="content" >
			<!--<div class="logo"><img src="../../images/icon_logo.png" /></div>-->
			<div class="suspensionOrder"><a href="javascript:;" class="login-submit" ng-click="pauseInquiry()" >暂停接单</a>{{houzhen.total}}人候诊中</div> 
		  	<div  class="cdt">
				接诊时长 {{countDownTime | date:'mm:ss'}}
			</div>
		</div>
		
	</div>
		
	<div class="patientRecord screen-list">
		<div class="patientRecordTitle"><span>患者病历</span></div>
		<ul>
			<li>
				<p class="description">主诉/现病史：</p>
				<p>{{patientInfo.chiefComplaint}}</p>
			</li>
			<li>
				<p class="description">既往病史：</p>
				<p>{{patientInfo.pastHistory}}</p>
			</li>
			<li>
				<p class="description">初步诊断：</p>
				<p>{{patientInfo.preliminaryDiagnosis}}</p>
			</li>
			<li>
				<p class="description">治疗意见：</p>
				<p>{{patientInfo.doctorAdvice}}</p>
			</li>
		</ul>
	</div>
	<div class="prescribeList screen-list">
		<div class="patientRecordTitle">处方<span>目前仅支持开具普通处方</span></div>
		<div class="list">
			<div class="titleDescription">处方笺<span>普通处方开药量请勿超过 7 天</span></div>
			
			<ul id="mytestList">
				<li class="title">
					<span>药品名称</span>
					<span>规格</span>
					<span>用法</span>
					<span>用药频次</span>
					<span>单次剂量</span>
					<span>开药量</span>
					<span>操作</span>
				</li>
				<li  ng-repeat="item in prescribeInputList">
					<span><input type="text" placeholder="请点击填写药品" ng-change="inputprescribe($index,'drugName')" ng-model="item.drugName.name" ng-class="{'showError':!item.drugName.stauts}" /></span>
					<span><input type="text" placeholder="请填写药品规格" ng-change="inputprescribe($index,'specifications')" ng-model="item.specifications.name" ng-class="{'showError':!item.specifications.stauts}" /></span>
					<span><input type="text" placeholder="请填写用法" ng-change="inputprescribe($index,'usage')" ng-model="item.usage.name" ng-class="{'showError':!item.usage.stauts}" /></span>
					<span><input type="text" placeholder="请填写用药频次" ng-change="inputprescribe($index,'frequency')" ng-model="item.frequency.name" ng-class="{'showError':!item.frequency.stauts}" /></span>
					<span>
						<input type="text" class="numberand" placeholder="数量" ng-change="inputprescribe($index,'unitDose')" ng-model="item.unitDose.name" ng-class="{'showError':!item.unitDose.stauts}" />
						<input type="text" class="numberand" placeholder="单位" ng-change="inputprescribe($index,'unitDoseUnits')" ng-model="item.unitDoseUnits.name" ng-class="{'showError':!item.unitDoseUnits.stauts}" />
					</span>
					<span>
						<input type="text" class="numberand" placeholder="数量" ng-change="inputprescribe($index,'amount')" ng-model="item.amount.name" ng-class="{'showError':!item.amount.stauts}" />
						<input type="text" class="numberand" placeholder="单位" ng-change="inputprescribe($index,'numberUnits')" ng-model="item.numberUnits.name" ng-class="{'showError':!item.numberUnits.stauts}" />
					</span>
					<span><a ng-click="del($index)">清空</a></span>
					<div ng-if="item.isShowAC" class="containerAC">
						<ul>
							<li ng-repeat="itemac in ACList" ng-click="selectprescribe($parent.$index,itemac)">
								{{itemac.drugName + ' ('+ itemac.specifications+ ')'}}
							</li>
						</ul>
					</div>
				</li>
			</ul>
			<p class="description2" >处方说明</p>
			<textarea ng-if="isHavaDescription" class="prescriptionDescription" placeholder="请填写处方说明...(140字)" ng-model="prescriptionDescription" maxlength="140" ></textarea>
			<a href="javascript:;" class=" btn login-submit submitPrescribe" ng-click="submitprescribe()" >提交处方</a>
		</div>
		
		
		
		
	</div>

</div>